body {
    display: flex;
}

#picture {
    background-color: black;
    background-image: url(./david-sinclair-esOA3o92zxE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    flex: 0 0 33%;
    height: 100vw;
    color: #F0A500;
}


#rightSide {
     background-color: black;
     color: #F4F4F4;
}